
.make-color(@name, @value) {
  .bg-@{name}     { background-color: @value; }
  .fill-@{name}   { fill: @value; }     /* SVG */
  .stroke-@{name} { stroke: @value; }   /* SVG */
}




/* Reds */
.make-color(red-10,  @red-10);
.make-color(red-20,  @red-20);
.make-color(red-30,  @red-30);
.make-color(red-40,  @red-40);
.make-color(red-50,  @red-50);
.make-color(red-60,  @red-60);
.make-color(red-70,  @red-70);
.make-color(red-80,  @red-80);
.make-color(red-90,  @red-90);
.make-color(red-100, @red-100);
.make-color(red-110, @red-110);
.make-color(red-120, @red-120);

/* Blues */
.make-color(blue-10,  @blue-10);
.make-color(blue-20,  @blue-20);
.make-color(blue-30,  @blue-30);
.make-color(blue-40,  @blue-40);
.make-color(blue-50,  @blue-50);
.make-color(blue-60,  @blue-60);
.make-color(blue-70,  @blue-70);
.make-color(blue-80,  @blue-80);
.make-color(blue-90,  @blue-90);
.make-color(blue-100, @blue-100);
.make-color(blue-110, @blue-110);
.make-color(blue-120, @blue-120);

/* Warm */
.make-color(warm-00, @warm-00);
.make-color(warm-10, @warm-10);
.make-color(warm-20, @warm-20);
.make-color(warm-30, @warm-30);

/* Cool */
.make-color(cool-00, @cool-00);
.make-color(cool-10, @cool-10);
.make-color(cool-20, @cool-20);
.make-color(cool-30, @cool-30);