html { outline: 12px solid lime !important; }
body { background: #ffeb3b !important; }

.harca-pattern{
position:absolute; inset:0;
background-image: url("/assets/svg/harca-pattern.svg"); 
background-repeat: no-repeat;       
background-position: center;
background-size: 90% auto;     
opacity: 1;                    
pointer-events:none;             
z-index:0;
}