// Reds
@red-10:  #FFE5E5;
@red-20:  #FFCCCC;
@red-30:  #FFB3B3;
@red-40:  #FF9999;
@red-50:  #FF8080;
@red-60:  #FF4D4D;
@red-70:  #FF1A1A;
@red-80:  #E60000;
@red-90:  #B30000;
@red-100: #980000;
@red-110: #620000;
@red-120: #370000;

// Blues
@blue-10:  #E3F6FE;
@blue-20:  #C8EDFD;
@blue-30:  #ACE4FC;
@blue-40:  #90DBFA;
@blue-50:  #75D2F9;
@blue-60:  #3EBFF7;
@blue-70:  #22B6F6;
@blue-80:  #0998D5;
@blue-90:  #07719E;
@blue-100: #044866;
@blue-110: #022A3B;
@blue-120: #021A25;

// Warm (Neutral-Warm)
@warm-00: #FFFDFD;
@warm-10: #FFF8F8;
@warm-20: #FCEEEE;
@warm-30: #F6DEDE;

// Cool (Neutral-Cool)
@cool-00: #FEFEFE;
@cool-10: #F9FCFD;
@cool-20: #EDF5F8;
@cool-30: #DDE9F0;
